<admin>

  <section>
    <h1>Admin Actions</h1>
    <blockquote>
      Release version { this.config.VERSION }
    </blockquote>
    <button if={ user.can('import') } onclick={ this.toggleGhostMode }>
      <span if={ !this.ghostMode }>Enable</span>
      <span if={ this.ghostMode }>Disable</span>
       &nbsp;Ninja Mode
    </button>
    <ul>
      <li><a href=/history>View logs of the database</a></li>
      <li><a href=# onclick={ this.getHistoryDump }>Export logs of the database</a></li>
      <li><a href=# onclick={ this.getEventsDump }>Export all events</a></li>
      <li><a href=# onclick={ this.getGroupsDump }>Export all groups</a></li>
      <li><a href=# onclick={ this.getKeywordsDump }>Export all keywords</a></li>
      <li><a href=# onclick={ this.getDiseasesDump }>Export all diseases</a></li>
      <li><a href=# onclick={ this.getRepresentativesStats }>Export ePAG representatives statistics</a></li>
      <li><a href=/reports.zip target=_blank>Export the full report (nightly updated)</a></li>
    </ul>

    <div if={ user.can('import') }>
      <h3>Super Users Actions</h3>
      <ul>
        <li><a href=# onclick={ this.getPersonsDump }>Export all persons</a></li>
        <li><a href=# onclick={ this.getOrganisationsDump }>Export all organisations</a></li>
        <li><a href=# onclick={ this.getRolesDump }>Export all Contact/Organisation roles</a><tooltip description="Emails for this export are not interpreted. If the contact/organisation role does not have any email, the email section will be empty." link="https://gitlab.com/eurordis/contact-database/-/wikis/Exports-handbook" /></li>
        <li><a href=# onclick={ this.getRolesGroups }>Export all group roles</a></li>
        <li><a href=# onclick={ this.getSpeakersDump }>Export all attendees</a></li>
      </ul>
    </div>
</section>

  <section>
    <h2>Membership Actions</h2>
    <div class=row>
      <select class=w33p name=membership onchange={ this.updateMembershipSelectField }>
        <option value="eurordis">EURORDIS</option>
        <option value="rdi">RDI</option>
      </select>
    </div>
    <ul>
      <li if={ user.can('import') }><a href=# onclick={ this.getMembersDump }>Export all members</a></li>
      <li if={ user.can('import') }><a href=# onclick={ this.getWithdrawnMembers }>Export withdrawn members</a></li>
      <li><a href=# onclick={ this.getMembersStats }>Export members statistics</a></li>
      <li if={ user.can('import') }><a href=# onclick={ this.getWebsiteMembers }>Export members for website</a></li>
      <li if={ user.can('import') } hidden={ !this.displayVotingContact }><a href=# onclick={ this.getFullMembersWithoutVoting }>Export full members without voting contact</a></li>
      <li if={ user.can('import') } hidden={ !this.displayVotingContact }><a href=# onclick={ this.getVotingContactsDump }>Export all voting contacts</a></li>
    </ul>
  </section>

  <section>
    <h2>Fees Reports</h2>
    <p class=row>
      Get the report of fee for year <input type=number onchange={ this.updateYear } value={ this.year }><button onclick={ this.getFeesLink }>Download</button>
    </p>
  </section>

  <section if={ user.can('import') }>
    <h2>Grouping comparison</h2>
    <div class=row>
      <input type=file ref=grouping-file><button onclick={ this.compareGroupings }>Compare</button>
    </div>
    <small>A txt file with groupings is expected. See the <a href="https://gitlab.com/eurordis/contact-database/uploads/c3f23471f0022691073fe7b8bd61650a/Grouping.txt" target="_blank">example file</a>.</small>
  </section>

  <section if={ user.can('import') }>
    <h2>Import contacts</h2>
    <div class=row>
      <input type=file ref=file><button onclick={ this.upload }>Import</button>
    </div>
    <div if={ this.errors.length } class=import-error>
      <h3 class=error>
        <icon figure=message-alert-small />
        Errors: { this.errorSummary }
      </h3>
      <ul>
        <li each={ error in this.errors }>
          <a href={ error.data.uri + location.search }>{ error.raw.first_name } { error.raw.last_name } - { error.raw.email
            || 'Empty email' }</a>:
          <ul>
            <li each={ msg, key in error.report }>{ key }: { msg }</li>
          </ul>
        </li>
      </ul>
    </div>
    <bulk-warning warnings={ this.warnings } />
  </section>

  <details if={ user.can('delete') }>
    <summary><h2>Manage Groups</h2></summary>
    <form class=row each={ group in this.groups } onsubmit={ this.saveGroup } pk={ group.pk }>
      <input class=w33p name=name value={ group.name } placeholder=Name required>
      <input class=w33p name=description value={ group.description } placeholder=Description>
      <select class=w33p name=kind>
        <option value=""></option>
        <option each={ kind in this.kinds } value={ kind.key } selected={ group.kind == kind.key }>{ kind.value }</option>
      </select>
      <button>Save</button>
      <button type=button class=danger onclick={ this.deleteGroup } pk={ group.pk } if={ group.pk }>Delete</button>
    </form>
  </details>

  <details if={ user.can('delete') }>
    <summary><h2>Manage Keywords</h2></summary>
    <form class=row each={ keyword in this.keywords } onsubmit={ this.saveKeyword } pk={ keyword.pk }>
      <input name=name value={ keyword.name } placeholder=Name required>
      <select name=kind>
        <option value=""></option>
        <option each={ kind in this.config.KEYWORD_KIND } value={ kind.key } selected={ keyword.kind == kind.key }>{ kind.value }</option>
      </select>
      <input type=checkbox name=for_person value=1 id=kw_for_person_{keyword.pk} checked={ keyword.for_person }><label for=kw_for_person_{keyword.pk}>Contact keyword</label>
      <input type=checkbox name=for_organisation value=1 id=kw_for_organisation_{keyword.pk} checked={ keyword.for_organisation }><label for=kw_for_organisation_{keyword.pk}>Organisation keyword</label>
      <button>Save</button>
      <button type=button class=danger onclick={ this.deleteKeyword } pk={ keyword.pk } if={ keyword.pk }>Delete</button>
    </form>
  </details>

  <script>
    this.year = (new Date()).getFullYear()
    this.config = config
    this.errors = []
    this.displayVotingContact = true

    this.on('mount', async () => {
      await this.loadGroups()
      await this.loadKeywords()
      this.kinds = this.config.GROUP_KIND.sort((a, b) => a.value.toLowerCase() >= b.value.toLowerCase() ? 1 : -1)
      this.update()
    })

    this.on('*', () => {
      this.ghostMode = Boolean(localStorage.ghostMode)
    })

    this.toggleGhostMode = () => {
      const ghostMode = !localStorage.getItem('ghostMode')
      ghostMode ? localStorage.setItem("ghostMode", "on") : localStorage.removeItem("ghostMode")
      window.location.reload()
    }

    this.updateYear = (event) => {
      this.year = event.target.value
    }

    this.loadGroups = async () => {
      const response = await api('/group')
      this.groups = config.GROUPS = response.data.data
      this.groups.push({})
    }

    this.saveGroup = async (event) => {
      event.preventDefault()
      const form = event.target
      const pk = form.getAttribute('pk')
      const data = serializeForm(form, true)
      let response = {}
      if(pk) response = await api(`/group/${pk}`, { method: 'put', data })
      else response = apiResponse(await api(`/group`, { data }))
      if(response.ok) notify('Group saved!', 'success')
      else if (this.ghostMode) notify("You're a ninja, you can't do that!", 'error')
      else notify(response.data.error, 'error')
      await this.loadGroups()
      this.update()
    }

    this.deleteGroup = async () => {
      if(!confirm('Are you sure you want to permanently delete this group?')) return
      const pk = event.currentTarget.getAttribute('pk')
      const response = await api(`/group/${pk}`, { method: 'delete' })
      if (response.ok) notify('Group deleted!', 'success')
      else notify(response.data.error, 'error')
      await this.loadGroups()
      this.update()
    }

    this.loadKeywords = async () => {
      const response = await api('/keyword')
      this.keywords = config.KEYWORDS = response.data.data
      this.keywords.push({})
    }

    this.saveKeyword = async (event) => {
      event.preventDefault()
      const form = event.target
      const pk = form.getAttribute('pk')
      const data = serializeForm(form, true)
      let response = {}
      if(pk) response = await api(`/keyword/${pk}`, { method: 'put', data })
      else response = await api(`/keyword`, { data })
      if(response.ok) notify('Keyword saved!', 'success')
      else if (this.ghostMode) notify("You're a ninja, you can't do that!", 'error')
      else notify(JSON.stringify(response.data), 'error')
      await this.loadKeywords()
      this.update()
    }

    this.deleteKeyword = async () => {
      if(!confirm('Are you sure you want to permanently delete this keyword?')) return
      const pk = event.currentTarget.getAttribute('pk')
      const response = await api(`/keyword/${pk}`, { method: 'delete' })
      if (response.ok) notify('Keyword deleted!', 'success')
      else notify(response.data.error, 'error')
      await this.loadKeywords()
      this.update()
    }

    this.updateMembershipSelectField = (event) => {
      this.displayVotingContact = event.target.value === 'eurordis'
      this.update()
    }

    this.getFeesLink = async () => {
      downloadUrl(`/report/fees?year=${this.year}`, `fees-${this.year}.xlsx`)
    }

    this.getMembersDump = async () => {
      const membershipName = document.getElementsByName("membership")[0].value
      downloadUrl(`/report/${membershipName}-members-status.xlsx`, `contact-database-${membershipName}-members-status.xlsx`)
    }

    this.getWithdrawnMembers = async () => {
      const membershipName = document.getElementsByName("membership")[0].value
      downloadUrl(`/report/withdrawn-${membershipName}-members.xlsx`, `contact-database-withdrawn-${membershipName}-members.xlsx`)
    }

    this.getFullMembersWithoutVoting = async () => {
      const membershipName = document.getElementsByName("membership")[0].value
      downloadUrl(`/report/full-${membershipName}-members-without-voting.xlsx`, `contact-database-full-${membershipName}-members-without-voting.xlsx`)
    }

    this.getSpeakersDump = async () => {
      downloadUrl('/report/all-attendees.xlsx', 'contact-database-all-speakers.xlsx')
    }

    this.getVotingContactsDump = async () => {
      downloadUrl('/report/all-voting-contacts.xlsx', 'contact-database-all-voting-contacts.xlsx')
    }

    this.getHistoryDump = async () => {
      downloadUrl('/history/export', 'contact-database-history.csv')
    }

    this.getPersonsDump = async () => {
      downloadUrl('/dump/person', 'contact-database-individuals.xlsx')
    }

    this.getRolesDump = async () => {
      downloadUrl('/dump/role', 'contact-database-roles.xlsx')
    }

    this.getRolesGroups = async () => {
      downloadUrl('/report/group-roles.xlsx', 'contact-database-group-roles.xlsx')
    }

    this.getGroupsDump = async () => {
      downloadUrl('/dump/group', 'contact-database-groups.xlsx')
    }

    this.getKeywordsDump = async () => {
      downloadUrl('/dump/keyword', 'contact-database-keywords.xlsx')
    }

    this.getDiseasesDump = async () => {
      const date = new Date()
      const dateStr = `${date.getFullYear()}-${fill(date.getMonth() + 1, 2, '0')}-${fill(date.getDate(), 2, '0')}`
      downloadUrl('/dump/disease', `diseases-${dateStr}.csv`)
    }

    this.getEventsDump = async () => {
      downloadUrl('/dump/event', 'contact-database-events.xlsx')
    }

    this.getOrganisationsDump = async () => {
      downloadUrl('/dump/organisation', 'contact-database-organisations.xlsx')
    }

    this.getWebsiteMembers = async () => {
      const membershipName = document.getElementsByName("membership")[0].value
      downloadUrl(`/report/${membershipName}-members.xlsx`, `${membershipName}-members.xlsx`)
    }

    this.getMembersStats = async () => {
      const membershipName = document.getElementsByName("membership")[0].value
      downloadUrl(`/report/${membershipName}-members-stats.xlsx`, `${membershipName}-members-stats.xlsx`)
    }

    this.getRepresentativesStats = async () => {
      const date = new Date()
      const reportPeriod = `${date.toLocaleString('default', {month: 'long'})}-${date.getFullYear()}`
      downloadUrl('/report/representatives-stats.xlsx', `representatives-stats-${reportPeriod}.xlsx`)
    }

    this.compareGroupings = async (e) => {
      const formData = new FormData()
      const file = this.refs['grouping-file'].files[0]
      formData.append('data', file)
      const response = apiResponse(await api(`/compare-groupings`, { body: formData }))
      if (response.ok) download(`grouping-compared.csv`, response.data, response.headers)
    }

    this.upload = async (e) => {
      const formData = new FormData()
      const file = this.refs.file.files[0]
      formData.append('data', file)
      const response = apiResponse(await api(`/person/import`, { body: formData, loader: true }))
      if (!response.ok) return
      const created = response.data.filter(item => item.status === 'created') || []
      const found = response.data.filter(item => item.status === 'found') || []
      const error = response.data.filter(item => item.status === 'error') || []
      const warnings = found.filter(item => Object.keys(item.report).includes('warning'))
      this.errorSummary = `${response.data.length} contacts were imported: ${created.length} created, ${found.length} existing and ${error.length} errors.`
      notify(this.errorSummary, error.length ? 'warning' : 'success')
      this.errors = error
      this.warnings = warnings
      downloadJsonReportToCsv(response.data, file.name, 'admin')
      this.update()
    }
  </script>

  <style>
    input[type=number] {
      width: 100px;
    }
    input {
      max-width: 40%;
    }

    section,
    details {
      margin-bottom: 2rem;
    }
    blockquote {
      padding: 0;
      font-style: italic;
      font-size: .9em;
    }

    details {
      margin-top: 2rem;
    }
    details form {
      max-width: inherit;
    }
    details h2 {
      display: inline-block;
    }
  </style>
</admin>
