<attachment-link>
  <a href={ this.url } class={ plain: true, deleted: this.deleted } onclick={ this.download } title="Download this file">
    { this.filename }
  </a>

  <button if={ this.opts.deletable && !this.deleted } class="delete" onclick={ this.delete } url="/contact/{ this.organisation.pk }/attachment/{ attachment.id }" title="Delete this file"><icon figure="delete" />Delete</button>

  <script>
    this.url = ""
    this.deleted = false
    this.attachment = {}
    this.filename = ""

    this.on('*', () => {
      this.attachment = this.opts.attachment
      this.filename = this.attachment.filename
      this.url = `/contact/${ this.opts.contactId }/attachments/${ this.attachment.id }`
    })

    this.download = async (event) => {
      event.preventDefault()
      const response = await api(this.url)
      download(response.headers.get('X-Filename'), response.data, response.headers)
    }

    this.delete = async (event) => {
      event.preventDefault()
      if(!confirm('Are you sure you want to permanently delete this file?')) return
      const response = apiResponse(await api(this.url, { method: 'delete' }))
      if(response.ok) {
        this.deleted = true
        notify(`Document "${ this.filename }" was deleted.`, 'success')
      }
      this.update()
    }
  </script>

  <style>
    attachment-link {
      display: flex;
      align-items: center;
    }

    button {
      margin-left: 1rem;
    }

    .deleted {
      text-decoration: line-through;
      opacity: .8;
    }
  </style>
</attachment-link>
