<bulk-log>
  <div if={ this.errors.length } class=import-error>
    <h3 class=error>
      <icon figure=message-alert-small />
      Report: { this.opts.title }
    </h3>
    <ul>
      <li each={ error in this.errors }>
        <a if={ error.data.uri } href={ error.data.uri } target=_blank>{ error.raw.first_name } { error.raw.last_name } - { error.raw.email
          || 'Empty email' }</a>
        <strong if={ !error.data.uri }>{ error.raw.first_name } { error.raw.last_name } - { error.raw.email
          || 'Empty email' }</strong>:
        <ul>
          <li each={ msg, key in error.report }>{ key }: { msg }</li>
          <li each={ msg, key in error.errors }><span if={ key }>{ key }: </span>{ msg }</li>
        </ul>
      </li>
    </ul>
  </div>

  <script>
    this.errors = []

    this.on('*', () => {
      this.errors = this.opts.errors || []
    })
  </script>
</bulk-log>
