<country-flag>
  <img if={ this.country } alt={ this.country } width=16 title={ this.country } src="/src/images/flags/{ this.country }.svg">

  <script>
    this.on('*', () => {
      const country = this.opts.country
      this.country = country && country.toLowerCase()
    })
  </script>

  <style media="screen">
    :scope {
      display: flex;
      align-items: center
    }
    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 20px;
    }
  </style>

</country-flag>
