<diff>
  <p class={ opts.isAdd ? 'change-add' : 'change-remove' }>
    <span if={ opts.diffObject.constructor === Object } each={changeField in Object.keys(opts.diffObject)}><b><change-field field={ changeField } /></b>: { JSON.stringify(opts.diffObject[changeField]) }</span>
    <span if={ opts.diffObject.constructor !== Object }>{ opts.diffObject }</span>
  </p>

  <script>
    riot.tag('change-field', '', function(opts) {
      this.on('*', () => {
        this.root.innerHTML = opts.field.replace(/_./, function(str){ return ` ${str[1].toUpperCase()}` }).replace(/^./, function(str){ return str.toUpperCase() })
      })
    })
  </script>

  <style>
    .change-add span:not(:last-child):after, .change-remove span:not(:last-child):after {
      content: " ; ";
    }
    .change-add span {
      background-color: #beffbe;
    }
    .change-remove span {
      background-color: #ffbebe;
    }
    .change-add b, .change-remove b {
      font-weight: 500;
    }
  </style>
</diff>