<diffs>
  <h2>Previous changes</h2>
  <ul>
    <li each={ diff in this.diffs }>
      <details open={ !this.collapse }>
        <summary>
          <h3>
            <a target=_blank href={ getUrl('/person/'+diff.by.pk) }>{ diff.by.label }</a> {diff.action}d&nbsp;<a if={ this.opts.withcontext }
            target=_blank href={ diff.of.uri }>{ diff.of.label }</a> on { trans(new Date(diff.at), { time: true }) }
          </h3>
        </summary>

        <div each={ change in diff.changes }>
          <em>{ change.verb }d { change.subject }</em> :
          <div each={ diff in change.diffs }>
            <diff if={ diff.newDiff && !Array.isArray(diff.newDiff) } is-add={ true } diff-object={ diff.newDiff } />
            <diff if={ diff.newDiff && Array.isArray(diff.newDiff) } each={ newDiff in diff.newDiff } is-add={ true } diff-object={ newDiff } />
            <diff if={ diff.oldDiff && !Array.isArray(diff.oldDiff) } is-add={ false } diff-object={ diff.oldDiff } />
            <diff if={ diff.oldDiff && Array.isArray(diff.oldDiff) } each={ oldDiff in diff.oldDiff } is-add={ false } diff-object={ oldDiff } />
          </div>
        </div>
      </details>
    </li>
  </ul>
  <p if={ !this.diffs.length }>This record has not been recently changed.</p>

  <script>
    this.diffs = []

    function fixValue(val) {
      const dVal = new Date(val)
      if(dVal != 'Invalid Date' && dVal.getFullYear() > 2000) return new Date(val)
      return val
    }

    function appendChange(changes, diff, subject = '') {
      let diffs = []
      const verb = diff.verb
      let newDiff = null
      if (verb == 'create' || verb == 'update') newDiff = diff.new || diff.value
      let oldDiff = diff.old

      if (Array.isArray(newDiff) && Array.isArray(oldDiff)) {
        oldDiff = diffing(newDiff, diff.old)
        newDiff = diffing(diff.old, newDiff)
        let allKeys = new Set([...Object.keys(oldDiff), ...Object.keys(newDiff)])
        allKeys.forEach(key => {
          diffs.push({newDiff: newDiff[key], oldDiff: oldDiff[key]})
        })
      } else {
        diffs.push({newDiff, oldDiff})
      }

      if(diff.length) diff.forEach(d => appendChange(changes, d, `${subject} ${d.subject}`))
      else if (diff.subordinates) diff.subordinates.forEach(sub => appendChange(changes, sub, `${subject} ${sub.subject}`))
      else changes.push({ subject, verb, diffs })
    }

    this.on('*', () => {
      this.collapse = this.opts.collapse
      this.diffs = []
      this.opts.diffs.forEach(container => {
        const changes = []
        Object.keys(container.diff).map(prop => {
          let change = container.diff[prop]
          let subject = prop.slice(-1) == 's' ? prop.slice(0, -1) : prop
          appendChange(changes, change, `[${subject}]`)
        })
        this.diffs.push({ by: container.by, of: container.of, at: container.at, action: container.action, changes })
      })
    })

  </script>

  <style>
    :scope li {
      display: block;
    }

    summary:focus {
      outline: none;
    }

    h3 {
      padding-bottom: .5rem;
      padding-top: 1rem;
      font-size: 0.8rem;
      font-family: "IBMPlexSans", sans-serif;
      font-weight: 300;
    }

    summary {
      display: flex;
      align-items: center;
      font-weight: 500;
    }
    summary:before {
      order: 2;
      margin-left: 0.8rem;
    }

    p {
      margin: 0;
    }

    details > div {
      margin-top: 10px;
    }
  </style>
</diffs>
