<duplicates>
  <blockquote if={ this.duplicates.length } class={ this.type }>
    <p>{ this.label }</p>
    <ul>
      <li each={ record in this.duplicates }><a href={ record.uri } target=_blank>{ record.label }</a></li>
    </ul>
  </blockquote>

  <script>
    this.duplicates = []
    this.href = ''
    this.url = ''
    this.defaultType = ''
    this.defaultLabel = 'The records below seem very similar. Are you sure this is not a duplicate?'


    this.on('update', async () => {
      if(this.opts.href === this.href) return
      this.href = this.opts.href
      this.duplicates = []
      this.label = ''
      if(!this.href) return this.update()

      const response = apiResponse(await api(this.href))
      this.duplicates = response.data.data ? response.data.data.filter(d => d.score >= .67) : []
      if(this.opts.currentId) this.duplicates = this.duplicates.filter(d => d.pk != this.opts.currentId)
      if(this.opts.resource) this.duplicates = this.duplicates.filter(d => d.resource === this.opts.resource)
      if(this.opts.exact == 'error' && response.data.data.length && response.data.data[0].score >= .98) this.type = 'error'
      else this.type = this.defaultType
      this.type = this.opts.exact == 'error' && response.data.data.length && response.data.data[0].score >= .98
                ? 'error' : this.defaultType
      this.label = this.opts.label || this.defaultLabel
      this.update()
    })
  </script>

  <style>
    blockquote {
      background-color: #c7e4ff;
      padding: .5rem 1.5rem;
      margin: 1rem 0;
    }

    blockquote.error {
      background-color: #D20019;
      color: #fff;
    }
  </style>
</duplicates>
