<event-details class=details>
  <header class=row>
      <div>
        <div class="avatar">
            <icon figure=placeholder-event />
        </div>
      </div>

      <div>
        <h1>{ this.event.name }</h1>
        <h2 if={ this.event.kind }>
          <icon figure=event_kind /> { this.event.kind }
        </h2>
      </div>
  </header>

  <section>
    <div>
      <ul>
        <li if={ this.event.start_date }>
          <icon figure=event />
          <div>
            Begins on { trans(new Date(this.event.start_date)) }
            <span if={ this.event.duration }>
              For { this.event.duration } days
            </span>
          </div>
        </li>
        <li if={ this.event.location }>
          <icon figure=address />
          In { this.event.location }
        </li>
      </ul>

      <p>
        <icon figure=person />
        <a href="/?event={ event.pk }|{ event.label }">View attendees</a>
        <button id=download onclick={ this.downloadAttendees } title="Export all attendees of this event in a spreadsheet">Export as .xlsx</button>
      </p>
    </div>
  </section>

  <diffs if={ this.opts.diffs } diffs={ this.opts.diffs } />

  <section class=toolbar>
    <small>
      id: { this.event.pk } <span if={ this.event.filemaker_pk }>(previously {this.event.filemaker_pk})</span>
      <p>
        Created on { trans(new Date(this.event.created_at)) }
        <virtual if={ this.event.created_by }> by
          <a href=/person/{ this.event.created_by.pk }>
            { this.event.created_by.first_name } { this.event.created_by.last_name }
          </a>
        </virtual>
      </p>
      <p>
      Modified on { trans(new Date(this.event.modified_at)) }
      <virtual if={ this.event.modified_by }> by
        <a href=/person/{ this.event.modified_by.pk }>
          { this.event.modified_by.first_name } { this.event.modified_by.last_name }
        </a>
        </virtual>
      </p>
      <a href="{ getUrl('/event/' + this.opts.event.pk + '/history') }">Blame who messed with this</a>
    </small>

    <a href=/event/{ this.opts.event.pk }/edit/{ location.search } class="button"><icon figure=edit embedded /> Edit this event</a>
  </section>

  <script>
    this.on('*', () => {
      this.event = this.opts.event
    })

    this.downloadAttendees = async () => {
      downloadUrl(`/event/${this.event.pk}/export`, `${ this.event.label }-attendees.xlsx`)
    }
  </script>

  <link rel="stylesheet" href="/src/css/details.css">

  <style>
    :scope.details section:not(.toolbar):before {
      background-color: transparent;
    }
    :scope :not(.toolbar) a {
      color: var(--primary-color) !important;
    }
    :scope li {
      flex-wrap: wrap;
    }
    :scope li span {
      display: block;
    }

    a {
      border-bottom: none;
      font-weight: 500;
    }

    #download {
      display: inline-block;
      margin-left: 1rem;
    }
  </style>
</event-details>
