<script>
  // This is outside of the component for global registration even if the component
  // is not mounted

    all() {
      return JSON.parse(localStorage.getItem('exportList')) || [];
    }

    cleanResource(resource) {
      const cleaned = {}
      if(resource.person && resource.person.pk) cleaned.person = resource.person.pk
      else if(resource.person) cleaned.person = resource.person

      if(resource.organisation && resource.organisation.pk) cleaned.organisation = resource.organisation.pk
      else if(resource.organisation) cleaned.organisation = resource.organisation

      return cleaned
    }

    getId(resource) {
      return `${resource.person}${resource.organisation}`
    }

    add(resource) {
      resource = this.cleanResource(resource)
      if (!Object.keys(resource).length || this.has(resource)) return
      const list = this.all()
      list.push(resource)
      notify(`Added 1 contact for export`, 'info')
      this.save(list)
    }

    addMany(resources) {
      resources = resources.map(this.cleanResource)
      const list = this.all()
      resources = resources.filter(resource => !list.map(l => this.getId(l)).includes(this.getId(resource)))
      const merged = list.concat(resources)
      notify(`Added ${resources.length} contact${resources.length == 1 ? '' : 's'} for export`, 'info')
      this.save(merged)
    }

    has(resource) {
      resource = this.cleanResource(resource)
      return this.findIndex(resource) > -1
    }

    findIndex(resource) {
      return this.all().findIndex(r => {
        if (r.person !== resource.person) return false
        return ((!r.organisation && !resource.organisation) || (r.organisation == resource.organisation))
      })
    }

    removeOrganisation(pk) {
      const all = exportList.all()
      const list = all.filter(r => r.organisation !== pk) || []
      const count = all.length - list.length
      if(count) this.save(list)
      notify(`removed ${count} contact${count == 1 ? '' : 's'} from export`, 'info')
    }

    remove(resource) {
      resource = this.cleanResource(resource)
      if (!this.has(resource)) return
      const list = this.all()
      list.splice(this.findIndex(resource), 1)
      notify(`removed 1 contact of export`, 'info')
      this.save(list)
    }

    removeIndex(index) {
      const list = this.all()
      list.splice(index, 1)
      notify(`removed 1 contact from export`, 'info')
      this.save(list)
    }

    save(list) {
      localStorage.setItem('exportList', JSON.stringify(list))
      updatePage()
    }

    clear() {
      this.save([])
      notify(`All contacts were cleared out of export`, 'info')
    }

    window.exportList = this
</script>

<export-list>
  <header>
    <div class="row">
      <h1>Exporting contacts</h1>
      <button onclick={ this.clear } class="button" if={ this.resources && this.resources.length }>
        <icon figure=delete embedded />
        Clear all contacts
      </button>
    </div>
    <div class="row" if={ this.resources && this.resources.length }>
      <div class=results-number>
      <span if={ this.resources.length < this.total }>{ this.resources.length } displayed / </span>{ this.total } contacts
      </div>
      <div class="row export">
        <span>Export as:</span>
        <button class=button onclick={ this.export } format=xlsx>.xslx</button>
        <button class=button onclick={ this.export } format=csv>.csv</button>
        <button class=button onclick={ this.copyMailchimp }>Mailchimp</button>
        <button class=button onclick={ this.copy }>emails</button>
      </div>
    </div>

    <details if={ this.user.can('import') }>
      <summary>Actions on List</summary>
        <form class=row onsubmit={ this.batchEditGroup }>
          <span>Batch edit groups</span>
          <select name=group>
            <optgroup each={ category in this.groups } label={ category.kind }>
              <option each={ group in category.values } value={ group.pk }>{ group.label }</option>
              </optgroup>
          </select>
          <button onclick={ this.setOperator } value=pull>Remove from All</button>
          <select name=role>
            <option each={ role in this.roles } value={ role }>{ role }</option>
          </select>
          <input type=checkbox name=is_active checked value=1 id=is_active /><label for=is_active>Is active</label>
          <button onclick={ this.setOperator } value=push>Apply to All</button>
        </form>

        <form class=row onsubmit={ this.batchEditKeyword }>
          <span>Batch edit keyword</span>
          <select name=keyword>
            <optgroup each={ category in this.keywords } label={ category.kind }>
              <option each={ keyword in category.values } value={ keyword.pk }>{ keyword.label } ({ keyword.types.join(', ') })</option>
              </optgroup>
          </select>
          <button onclick={ this.setOperator } value=push>Apply to All</button>
          <button onclick={ this.setOperator } value=pull>Remove from All</button>
        </form>

        <form class=row onsubmit={ this.batchEditKind }>
          <span>Batch edit kind</span>
          <select name=kind>
            <option each={ kind in this.kinds } value={ kind.key } class={ main: kind.is_main }>
              { kind.is_main ? '' : '&nbsp;• ' }{ kind.value }
            </option>
          </select>
          <button onclick={ this.setOperator } value=set>Apply to All</button>
        </form>

        <form class=row onsubmit={ this.batchRemoveKind }>
          <button>Remove Kinds for All</button>
        </form>


        <form class=row onsubmit={ this.batchEditDisease }>
          <span>Batch edit disease</span>
          <select-autocomplete url="/disease/complete?limit=10&q=" class=row name=disease placeholder="Name of the disease" />
          <button onclick={ this.setOperator } value=push>Apply to All</button>
          <button onclick={ this.setOperator } value=pull>Remove from All</button>
        </form>
      </details>

    <section class=row>
      <form onsubmit={ this.batchImportReferences }>
        <details name=kind>
          <summary>Find and Add Organisations by Emails or IDs</summary>
          <input type=hidden name=resource value=organisation>
          <textarea name=references placeholder="Paste your emails or ids of organisations"></textarea>
          <button>Find and Add</button>
        </details>
      </form>
      <form onsubmit={ this.batchImportReferences }>
        <details name=kind>
          <summary>Find and Add Contacts by Emails or IDs</summary>
          <input type=hidden name=resource value=person>
          <textarea name=references placeholder="Paste your emails or ids of contacts"></textarea>
          <button>Find and Add</button>
        </details>
      </form>
    </section>
    <div class="reference-error" if={ this.referencesNotFound.length }>
      <span>The following { this.referencesNotFound.length } references could not be found:</span>
      <ul>
        <li each={ referenceNotFound in this.referencesNotFound }>{ referenceNotFound }</li>
      </ul>
    </div>

    <div if={ this.errors && this.errors.length } class=import-error>
      <h3 class=error>
        <icon figure=message-alert-small />
        Bulk editing could not apply on some organisations or contacts:
      </h3>
      <ul>
        <li each={ error in this.errors }>
          <span if={ error.raw.organisation }>organisation { error.raw.organisation }</span>
          <span if={ Object.keys(error.raw).length > 1 }> / </span>
          <span if={ error.raw.person }>contact { error.raw.person }</span>:
          { error.error }
        </li>
      </ul>
    </div>

  </header>

  <table>
    <tr>
      <th>Organisation</th>
      <th>Name</th>
      <th>Contact</th>
      <th></th>
    </tr>
    <tr each={ resource, i in this.resources }>
        <td><span if={ resource.organisation }><a href="/organisation/{ resource.organisation_pk }{ location.search }">{ resource.organisation }</a></span></td>
      <td>
        <span if={ resource.person_pk }><a href="/person/{ resource.person_pk }{ location.search }">{ resource.first_name } { resource.last_name }</a></span>
      </td>
      <td><span>
        <a if={ resource.email } target=_blank href="mailto:{ resource.email }" target=_blank>{ resource.email }</a>
      </span></td>
      <td><icon figure=delete onclick={ this.remove } value={ i } title="Remove this contact" /></td>
    </tr>
  </table>
  <a class=show-all if={ this.resources && this.resources.length < this.total } href={ replaceQueryParams({ limit: 'false' }) }>Show { this.total - this.limit } other results (slow)</a>

  <p if={ !this.resources || !this.resources.length }>No contact was added for export.</p>

  <script>
    this.resources = []
    this.user = window.user
    this.operator = ''
    this.referencesNotFound = ''

    this.on('mount', async () => {
      let response = await api('/group')
      const groups = response.data.data
      this.groups = classifyByKind(groups)
      response = await api('/keyword')
      const keywords = response.data.data
      this.keywords = classifyByKind(keywords)
      this.kinds = config.ORGANISATION_KIND.map(k => {
        k.is_main = String(k.key).endsWith('0')
        return k
      })
      this.update()
    })

    this.on('*', () => {
      this.total = this.opts.resources && this.opts.resources.length
      this.limit = this.opts.limit || 100
      this.resourcesAll = this.opts.resources
      this.resources = this.opts.resources && this.opts.resources.slice(0, this.limit)
      this.roles = []
      const allroles = config.PERSON_TO_GROUP_ROLES // Should be renamed to GROUP_ROLES
      allroles.forEach(g => {
        if(!this.roles.find(k => this.roles[k])) this.roles.unshift(g)
      })
    })

    this.setOperator = (event) => {
      this.operator = event.target.value
    }

    this.export = async (event) => {
      const uname = (new Date()).toLocaleString().replace(/\W+/g, '-')
      const format = event.currentTarget.getAttribute('format')
      const filename = `export-${uname}.${format}`
      data = { resources: exportList.all() }
      const response = apiResponse(await api(`/contact/export.${format}`, { data }))
      if (response.ok) download(filename, response.data, response.headers)
    }

    this.remove = (event) => {
      const index = event.currentTarget.value
      exportList.removeIndex(index)
      updatePage()
    }

    this.clear = () => {
      if (!confirm("Are you sure you want to remove all search results?")) return
      exportList.clear()
      updatePage()
    }

    this.copy = () => {
      navigator.clipboard.writeText(this.resourcesAll.filter(r => r.email).map(r => {
        return r.first_name && r.last_name ? `${r.first_name} ${r.last_name}<${r.email}>` : r.email
      }).join(';')).then(function() {
        notify('Emails are now copied!', 'info')
      }, function() {
        notify('Unable to copy emails, sorry!', 'error')
      })
    }

    this.copyMailchimp = () => {
      navigator.clipboard.writeText(this.resourcesAll.filter(r => r.email).map(r => r.email).join('\n')).then(
        () => notify('Ready to paste into Mailchimp!', 'info'),
        () => notify('Unable to copy emails, sorry!', 'error')
      )
    }

    this.batchEditGroup = async (event) => {
      event.preventDefault()
      const form = event.target
      const data = {
        resources: exportList.all(),
        field: 'groups',
        operator: this.operator,
        value: { group: form.group.value, role: form.role.value, is_active: form.is_active.checked }
      }
      const response = apiResponse(await api(`/basket`, { method: 'PATCH', data }))
      if(!response.ok) return
      this.errors = response.data.filter(item => item.status === 'error') || []
      notify('Batch was applied. The list of errors is displayed if any.', 'success')
      this.update()
    }

    this.batchEditKeyword = async (event) => {
      event.preventDefault()
      const form = event.target
      const data = {
        resources: exportList.all(),
        field: 'keywords',
        operator: this.operator,
        value: form.keyword.value
      }
      const response = apiResponse(await api(`/basket`, { method: 'PATCH', data }))
      if (!response.ok) return
      this.errors = response.data.filter(item => item.status === 'error') || []
      notify('Batch was applied. The list of errors is displayed if any.', 'success')
      this.update()
    }

    this.batchEditKind = async (event) => {
      event.preventDefault()
      const form = event.target
      const data = {
        resources: exportList.all(),
        field: 'kind',
        operator: this.operator,
        value: form.kind.value
      }
      const response = apiResponse(await api(`/basket`, { method: 'PATCH', data }))
      if (!response.ok) return
      this.errors = response.data.filter(item => item.status === 'error') || []
      notify('Batch was applied. The list of errors is displayed if any.', 'success')
      this.update()
    }

    this.batchRemoveKind = async (event) => {
      event.preventDefault()
      const data = {
        resources: exportList.all(),
        field: 'kind',
        operator: 'set',
        value: null
      }
      const response = apiResponse(await api(`/basket`, { method: 'PATCH', data }))
      if (!response.ok) return
      this.errors = response.data.filter(item => item.status === 'error') || []
      notify('Removed kinds for all. The list of errors is displayed if any.', 'success')
      this.update()
    }

    this.batchEditDisease = async (event) => {
      event.preventDefault()
      const form = event.target
      const data = {
        resources: exportList.all(),
        field: 'diseases',
        operator: this.operator,
        value: Number(form.querySelector('[name=disease]').value)
      }
      const response = apiResponse(await api(`/basket`, { method: 'PATCH', data }))
      if (!response.ok) return
      this.errors = response.data.filter(item => item.status === 'error') || []
      notify('Batch was applied. The list of errors is displayed if any.', 'success')
      this.update()
    }

    this.batchImportReferences = async (event) => {
      event.preventDefault()
      const resource = event.target.resource.value
      const rawRefs = event.target.references.value
      const refs = rawRefs.split(/\s+|,/g).map(d => d.trim()).filter(d => d)
      const response = apiResponse(await api('/basket', { method: 'PUT', data: { refs, resource } }))
      if(!response.ok) return
      exportList.addMany(response.data.resources)
      this.referencesNotFound = response.data.not_found
    }
  </script>

  <style>
    header {
      padding-bottom: 1.2rem;
      margin-bottom: 1.6rem;
      color: var(--primary-color);
      border-bottom: 1px solid var(--border-color);
    }
    header > .row {
      margin: 0;
      align-items: center;
      justify-content: space-between;
    }
    h1 {
      margin-bottom: 0;
      font-size: 2rem;
      font-weight: 300;
    }
    [figure=delete] {
      cursor: pointer;
    }
    table {
      width: 100%;
      table-layout:fixed;
      counter-reset: section;
    }
    th,
    tr:first-child:before {
      color: rgba(80,80,110,0.6);
    }
    th {
      font-weight: normal;
      text-align: left;
    }
    th:not(:last-child),
    td:not(:last-child) {
      width: 31.5%;
      padding-right: 2rem;
    }
    ol {
      list-style-position: inside;
      padding-left: 0;
    }
    td {
      padding: .1rem .5rem .1rem 0;
    }
    td:first-of-type {
      font-weight: 500;
    }
    td a {
      display: inline-block;
      max-width: 98%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #50506E ;
    }
    td > icon {
      opacity: 0.2;
    }
    td > icon:hover {
      opacity: 1;
    }
    tr {
      height: 2rem;
    }
    tr:not(:first-child):before,
    tr:first-child:before {
      display: inline-block;
      width: 1.6rem;
      padding-right: 0.4rem;
      vertical-align: sub;
      color: #696E8C;
    }
    tr:not(:first-child):before {
      counter-increment: section;
      content: counter(section);
    }
    tr:first-child:before {
      content: "#";
    }
    table a {
      text-decoration: none;
      border-bottom: none;
      word-break: break-all;
    }
    td icon {
      margin-right: .3rem;
    }

    .results-number {
      font-weight: 300;
    }

    .export {
      font-size: 0.6rem;
    }
    .export span {
     font-weight: 500;
    }

    .show-all {
      text-align: center;
      display: block;
    }

    details {
      width: 100%;
    }
    summary {
      font-size: inherit;
    }

    textarea {
      width: 80%;
      height: 100px;
      margin: 1rem 0;
    }

    .reference-error {
      background-color: #c72a2a;
      margin: 1rem 0 0 0;
      padding: 1rem;
      color: white;
      font-weight: bold;
    }

    .reference-error ul {
      list-style-type: none;
      padding-left: 0;
    }

    .row form {
      align-self: flex-start;
    }

    form {
      color: #000;
    }

    option.main {
      font-weight: bold;
    }
  </style>
</export-list>
