<facet-check>
  <button class={ status: true, selected: this.option }><icon figure={ this.icon } /></button>
  <div class=selector>
    <button class={ selected: this.option } onclick={ this.option ? this.deselect : this.select } value="" title="Results can include this filter">
      <icon figure={ this.icon } />
    </button>
    <button if={ this.option != true } value="" onclick={ this.select } title="Results may include this filter">
      <icon figure="{this.icons['true']}-{ this.iconType }">
    </button>
    <button if={ this.option != '+' } value="+" onclick={ this.select } title="Results must include this filter">
      <icon figure="{this.icons['+']}-{ this.iconType }">
    </button>
    <button if={ this.option != '-' } value="-" onclick={ this.select } title="Results must not include this filter">
      <icon figure="{this.icons['-']}-{ this.iconType }">
    </button>
  </div>

  <script>
    const iconTypes = {
      'group': ['group_role', 'membership', 'group_kind'],
      'keyword': ['keyword_kind'],
      'type': ['group_kind', 'event_kind', 'event_role', 'event'],
    }
    this.icon = 'check-white'
    this.iconType = 'white'
    this.option = ''
    this.icons = {
      '+': 'plus',
      '-': 'outside',
      'true': 'check',
      '': 'checked',
      '<': 'check', // disease
      '>': 'check', // disease
    }

    this.on('*', () => {
      this.option = this.opts.option
      this.iconType = Object.keys(iconTypes).find(k => iconTypes[k].includes(this.opts.facetName)) || this.opts.facetName
      if(this.option) this.icon = `${this.icons[this.option]}-white`
    })

    this.select = (event) => {
      const modifier = event.currentTarget.value
      const value = createvalue(this.opts.riotValue, modifier)
      this.opts.onchange({
        action: 'add',
        category: this.opts.facetName,
        value,
        label: this.opts.label
      })
    }

    this.deselect = () => {
      this.opts.onchange({
        action: 'remove',
        category: this.opts.facetName,
        value: this.opts.riotValue,
      })
    }
  </script>

  <style>
    :scope {
      position: relative;
      height: 1em;
      width: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button.status + div {
      display: none;
    }
    button.status:hover + div,
    button.status + div:hover {
      display: flex;
    }

    .selector {
      padding: 0.2rem 0.4rem;
      border-radius: 0.7rem;
      background-color: #fff;
      box-shadow: 0 3px 5px rgb(204, 204, 204, 0.5);
      margin: 0;
      width: min-content;
      position: absolute;
      top: -0.2rem;
      left: -0.4rem;
      z-index: 1000;
      display: flex;
    }

    .selector button:not(:last-child) {
      margin-right: 0.3rem !important;
    }
  </style>
</facet-check>
