<grouping-tag>
  <tag type=grouping label={ this.label } value={ this.opts.riotValue } />

  <script>
  this.on("*",()=>{
    this.label = keyToValue(config.GROUPING, this.opts.riotValue)
  })
  </script>

  <style>
  a {
    font-weight: 500;
  }
  </style>
</grouping-tag>
