<home>
  <div style="background-image: url('/src/images/background/{ this.imageId }.jpg')"></div>

  <script>
    this.imageId = Math.ceil(Math.random() * 14)
  </script>

  <style>
    :scope,
    div {
      display: block;
      /* position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; */
    }
    div {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>
</home>
