<organisation-fees-edit class=details>
  <header class=row>
    <div>
      <div class=avatar>
          <icon figure=placeholder-fees />
      </div>
    </div>

    <div>
      <h1>Fees for { this.organisation.label }</h1>
    </div>
  </header>

  <form onsubmit={ this.save }>
    <fieldset subform=membership[] each={ membership, index in this.memberships } show={ membership.organisation.name.toLowerCase() == "eurordis" }>
      <div>
        <div>
          <h2>{ membership.organisation.label } <small>(since { trans(new Date(membership.start_date)) })</small></h2>
          <button class=button type=button onclick={ this.addFee } index={ index }><icon figure=add embedded /> Add a fee</button>
          <article subform=fees[] each={ fee, f in membership.fees } class=row>
            <div class="year">
              <label for=year>Year</label>
              <input class=row type=number name=year id=year value={ fee.year } placeholder=Year required min=1997 max={ (new Date()).getFullYear() + 2 }>
            </div>
            <div>
              <label for=amout>Amount (€)</label>
              <input class=row type=number name=amount id=amount value={ fee.amount } required disabled={ fee.exempted }>
            </div>
            <div class=date>
              <label for=payment_date>Date</label>
              <input class=row type=date name=payment_date value={ fee.payment_date } required disabled={ fee.exempted && (fee.exempted).toISOString()}>
            </div>
            <div>
              <div>
                <input type=checkbox value=1 id=fee-{ membership.organisation.label }-{ f } checked={ fee.exempted } name=exempted onchange={ this.toggleExempted } membership-index={ index } fee-index={ f }>
                <label class=row for=fee-{ membership.organisation.label }-{ f }>
                  Exempted for this year
                </label>
              </div>
              <div>
                <input type=checkbox value=1 id=receipt-{ membership.organisation.label }-{ f } checked={ fee.receipt_sent } name=receipt_sent onchange={ this.toggleReceiptSent } membership-index={ index } fee-index={ f }>
                <label class=row for=receipt-{ membership.organisation.label }-{ f }>
                  Receipt was sent
                </label>
              </div>
            </div>
            <div class=row if={ !fee.receipt_sent }>
              <select id=recipient onchange={this.updateRecipient} membership-index={ index } fee-index={ f }>
                <option selected="{fee.recipient === recipient.pk}" each={recipient in this.recipients} name="_recipient" value="{recipient.pk}">{recipient.label}</option>
              </select>
              <button type="button" onclick={this.sendReceipt}>Send a receipt</button>
            </div>
            <div>
              <button class="button" type=button onclick={ this.removeFee } membership-index={ index } fee-index={ f }>
                <icon figure=delete embedded />
                Delete this fee
              </button>
            </div>
          </article>
        </div>
      </div>
    </fieldset>

    <section class=toolbar>
      <a class=button href={ getUrl('/organisation/'+this.organisation.pk) }><icon figure=close-small embedded /> Cancel</a>
      <button class=button><icon figure=save-small embedded /> Save</button>
    </section>
  </form>

  <script>
    function strToTimestamp(str) {
      return (new Date(str)).getTime()
    }

    this.on('*', () => {
      this.organisation = this.opts.organisation
      this.memberships = this.organisation.membership.sort((a, b) => {
        return strToTimestamp(b.start_date) - strToTimestamp(a.start_date)
      })
      this.recipients = this.organisation.roles.filter(r => r.is_primary).map(r => ({pk: r.person.pk, label: r.person.label}))
    })

    this.on('mount', () => {
      document.querySelector('main').scrollTo(0, 0)
    })

    this.addFee = (event) => {
      const membership = this.memberships[event.currentTarget.getAttribute('index')]
      if(!membership.fees) membership.fees = []
      const date = new Date()
      membership.fees.unshift({year: date.getFullYear(), payment_date: date.toISOString().slice(0, 10)})
      this.update()
      this.root.querySelector('[name=amount]').focus()
    }

    this.removeFee = (event) => {
      const membership = this.memberships[event.currentTarget.getAttribute('membership-index')]
      membership.fees.splice(event.currentTarget.getAttribute('fee-index'), 1)
    }

    this.toggleExempted = (event) => {
      const checkbox = event.currentTarget
      const fee = this.memberships[checkbox.getAttribute('membership-index')].fees[checkbox.getAttribute('fee-index')]
      fee.exempted = event.target.checked
      this.update()
    }

    this.toggleReceiptSent = (event) => {
      const checkbox = event.currentTarget
      const fee = this.memberships[checkbox.getAttribute('membership-index')].fees[checkbox.getAttribute('fee-index')]
      fee.receipt_sent = event.target.checked
      this.update()
    }

    this.updateRecipient = (event) => {
      const membership = this.memberships[event.currentTarget.getAttribute('membership-index')]
      membership.fees[event.currentTarget.getAttribute('fee-index')].recipient = event.target.value
    }

    this.sendReceipt = async (event) => {
      const container = event.target.closest('[subform="fees[]"]')
      const year = Number(container.querySelector('[name=year]').value)
      const response = apiResponse(await api('/send-receipt', {
        method: 'POST',
        data: {
          organisation: this.organisation.pk,
          person: container.querySelector('#recipient').value,
          year,
        }
      }))
      if(!response.ok) return
      notify(`The receipt for ${year} was sent by email`, 'success')
    }

    this.save = async (event) => {
      event.preventDefault()
      const data = serializeForm(event.target)
      const memberships = this.memberships.map((membership, i) => {
        membership.fees = data.membership[i] && data.membership[i].fees
        return membership
      })
      const response = apiResponse(await api(`/organisation/${ this.organisation.pk }`, {
        method: 'PATCH',
        data: { membership: memberships }
      }))
      if(!response.ok) return
      notify(`The fees were saved successfully`, 'success')
      page(getUrl(`/organisation/${this.organisation.pk}`))
    }
  </script>

  <link rel="stylesheet" href="/src/css/details.css">
  <style>
    fieldset {
      margin-bottom: 1.2rem;
    }
    fieldset > div {
      margin-bottom: 1.2rem !important;
    }

    article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 0.8rem;
    }
    article:after {
      display: none;
    }
    article > div:nth-last-of-type(2) {
      margin-right: 0;
    }
    article > div:last-of-type {
      flex-basis: 100%
    }

    article .button {
      margin-top: 0.4rem;
    }
    label {
      margin-top: 0;
    }

    .year {
      max-width: 5.6rem;
    }
    .date {
      max-width: 9rem;
    }
    h2 {
      font-weight: bold;
      margin-bottom: 0.4rem;
    }

    h2 small {
      font-family: "IBMPlexSans", sans-serif;
      font-size: 0.7rem;
      font-weight: 300;
    }
  </style>
</organisation-fees-edit>
