<organisation-edit class=details>
  <header class=row>
    <div>
      <div class=avatar>
          <icon figure=placeholder-organisation />
      </div>
    </div>

    <div>
      <h1 if={ organisation.pk}>Edit: { this.opts.organisation.name } <small if={ this.organisation.acronym }>( { this.organisation.acronym } )</small></h1>
      <h1 if={ !organisation.pk}>Add an organisation</h1>
      <h2 if={ this.organisation.kind } class=kind><icon figure=kind></icon>{ keyToValue(this.kinds, this.organisation.kind) } </h2>
    </div>
  </header>

  <form onsubmit={ this.save } class=resource-edit-form>
    <fieldset>
      <div>
        <div>
          <legend>Organisation Information</legend>
          <div class=row>
            <div class=w63p>
              <label for=name>Name in local language / Name in English</label>
              <input name=name value={ this.organisation.name } placeholder="Name in local language / name in English" required onblur={ this.checkDuplicatesName }>
            </div>
            <div>
              <label for=acronym>Acronym</label>
              <input name=acronym value={ this.organisation.acronym } placeholder="Acronym">
            </div>
          </div>
          <duplicates href={ this.duplicatesNameUri } resource=organisation />

          <label for=website>Website</label>
          <input type=url name=website value={ this.organisation.website } placeholder="Website (type http://…)" class=w63p onblur={ this.checkDuplicatesUrl }>
          <duplicates href={ this.duplicatesUrlUri } resource=organisation />

          <label for=kind>Type</label>
          <select name=kind class=w63p>
            <option selected={ this.organisation.kind == '' } value=""> — Kind —</option>
            <option each={ kind in this.kinds } value={ kind.key } class={ main: kind.is_main } selected={ this.organisation.kind == kind.key }>
              { kind.is_main ? '' : '&nbsp;• ' }{ kind.value }
            </option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div>
        <div>
          <legend>Address</legend>
          <label for=address>Address</label>
          <input name=address value={ this.organisation.address } placeholder="Address">
          <div class=row>
            <div class=w20p>
                <label for=postcode>Postcode</label>
                <input name=postcode value={ this.organisation.postcode } placeholder="Postal code">
            </div>
            <div class=fx-grow-2>
              <label for=city>City</label>
              <input name=city value={ this.organisation.city } placeholder="City">
            </div>
            <div>
              <label for=country>Country</label>
              <select data-is=select-country country={ this.organisation.country } name=country onchange={ this.changeCountry } />
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class=w70p>
      <div>
        <div>
          <legend>Contact Details</legend>
            <div class="row">
              <div class=w50p>
                <label for=cell_phone>Cellphone</label>
                <input name=cell_phone value={ this.organisation.cell_phone } placeholder="Mobile phone number ({ this.dialPrefix || 'with international dialing code' })">
              </div>
              <div class=w50p>
                <label for=phone>Landline</label>
                <input name=phone value={ this.organisation.phone } placeholder="Phone number ({ this.dialPrefix || 'with international dialing code' })">
              </div>
            </div>
          <label for=email>Email</label>
          <input type=email name=email value={ this.organisation.email } placeholder="Email" onblur={ this.checkDuplicatesEmail }>
        </div>
      </div>
      <duplicates href={ this.duplicatesEmailUri } />
    </fieldset>

    <fieldset>
      <div>
        <div>
          <details>
            <summary class=disease>
              <legend class=disease>Diseases <small if={ this.diseasesCount }>({ this.diseasesCount })</small></legend>
              Expand
            </summary>
            <div>
              <div class="row disease-list" each={ disease, index in this.organisation.diseases } id=disease_{index}>
                <select-autocomplete url="/disease/complete?limit=10&q=" class=row name=diseases[] value={ disease.pk } label={ disease.label } placeholder="Name of the disease" />
                <button class="button disease" type=button onclick={ this.removeDisease } value={ index }>
                  <icon figure=delete embedded />
                  Delete
                </button>
              </div>

              <button class="button disease" type=button onclick={ this.addDisease }>
                <icon figure=add embedded /> Add disease
              </button>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <fieldset class=keywords>
      <div>
        <div>
          <details>
            <summary class=keyword>
                <legend class=keyword>Keywords <small if={ this.organisation.keywords.length }>({ this.organisation.keywords.length })</small></legend>
                Expand
            </summary>
            <div each={ category in this.keywords }>
              <h5>{ category.kind }</h5>
              <div class=cols3>
                <span each={ kw in category.values }>
                  <input type=checkbox id=keywords_{ kw.pk } name=keywords[] value={ kw.pk } checked={ this.organisationKeywordsPks.includes(kw.pk) } class=keyword>
                  <label for=keywords_{ kw.pk }>
                    <span>{ kw.label }</span>
                  </label>
                </span>
              </div>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div>
        <div>
          <details>
            <summary>
              <legend>Memberships <small if={ this.membershipsCount }>({ this.membershipsCount })</small></legend>
              Expand
            </summary>

            <div>
              <article class=memberships id=membership_{index} subform=membership[] each={ organisationMembership, index in this.organisation.membership }>
                <input type=hidden value={ JSON.stringify(organisationMembership.fees) } name=fees>
                <div class=row>
                  <div class=w63p>
                    <label for=status>Status</label>
                    <select class=row name=status id=status>
                      <option value=""> --- </option>
                      <option each={ status in this.membershipStatuses } value={ status.key } selected={ organisationMembership.status == status.key }>{ status.value }</option>
                    </select>
                  </div>
                  <div>
                    <label for=startdate>Start date</label>
                    <input type=date name=start_date value={ organisationMembership.start_date } placeholder="From">
                  </div>
                  <div>
                    <label for=startdate>End date</label>
                    <input type=date name=end_date value={ organisationMembership.end_date } placeholder="Until">
                  </div>
                </div>
                <div class=row>
                  <div class=w63p>
                    <label for=organisation>Organisation</label>
                    <select-autocomplete url="/contact/complete?resource=organisation&limit=10&q=" name=organisation
                      value={organisationMembership.organisation &&organisationMembership.organisation.pk } label={
                      organisationMembership.organisation.label } placeholder="Name of the organisation" />
                  </div>
                  <div class="flex align-self-end">
                    <button type=button class=button onclick={ this.removeMembership } value={ index }>
                      <icon figure=delete embedded /> Delete
                    </button>
                  </div>
                </div>
              </article>
              <button class=button type=button onclick={ this.addMembership }>Add a membership</button>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div>
        <div>
          <details>
            <summary class=group>
              <legend class=group>Groups <small if={ this.groupsCount }>({ this.groupsCount })</small></legend>
              Expand
            </summary>
            <div each={ role in this.organisation.roles } if={ Number(role.person.pk) }>
              <h5>{role.person.label}</h5>
              <div class="groups row" subform=groups[] each={ organisationGroup, index in role.groups }>
                <input type=hidden name=person value={role.person.pk}>
                <select name=group required>
                  <option value=""> - Group name - </option>
                  <optgroup each={ category in this.groups } label={ category.kind }>
                    <option each={ group in category.values } value={ group.pk } selected={ organisationGroup.group.pk == group.pk }>{ group.label }</option>
                  </optgroup>
                </select>
                as <select name=role>
                  <option value=""> - Role - </option>
                  <option each={ role in this.groupRoles } value={ role } selected={ organisationGroup.role == role }>{ role }</option>
                </select>
                <input type=checkbox name=is_active value=1 id=group_{organisationGroup.group.pk}_{index} checked={ !organisationGroup.group.pk || organisationGroup.is_active } class="group group_person_{role.person.pk}_active">
                <label class=row for=group_{organisationGroup.group.pk}_{index}>Still active</label>
                <button type=button class="button group" onclick={ this.removeGroup } person={ role.person.pk } value={ index }>
                  <icon figure=delete embedded />
                  delete
                </button>
              </div>
              <button type=button class="button group" onclick={ this.addGroup } person={ role.person.pk }>
                <icon figure=add embedded /> Add a group
              </button>
            </div>
            <p if={ !this.organisation.pk }>You must first save this organisation before assigning groups.</p>
          </details>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div>
        <div>
          <details>
            <summary>
              <legend>Organisation Contacts <small if={ this.rolesCount }>({ this.rolesCount })</small></legend>
              Expand
            </summary>
            <div>
              <!-- archived roles hidden so sent to the backend (and not returned) -->
              <article hidden={ archivedPersonsPk.includes(role.person.pk) } class="organisation" subform=roles[] each={ role, index in this.organisation.roles }>
                <div class="row">
                  <div class=w50p>
                    <label for=person>Name & Surname</label>
                    <select-autocomplete url="/contact/complete?resource=person&limit=10&q=" name=person value={ role.person && role.person.pk } label={ role.person.label } placeholder="Name of the Person" />
                  </div>
                  <div class=w50p>
                    <label for=name>Role</label>
                    <input class=row name=name placeholder="Role of this person" value={ role.name }>
                  </div>
                </div>
                <div class="row">
                  <div class=w50p>
                    <label for=email>Email</label>
                    <input id=role_email_{ index } class=row name=email type=email placeholder="Specific email with this person" value={ role.email }>
                  </div>
                  <div class=w50p>
                    <label for=email>Specific Phone</label>
                    <input class=row name=phone type=phone placeholder="Specific phone with this person" value={ role.phone }>
                  </div>
                  <div class="flex w50p align-self-end">
                    <div class=primary-contact>
                      <input type=checkbox id=is_primary_{ index } name=is_primary value=1 checked={ role.is_primary || '' }>
                      <label for=is_primary_{ index }>Primary contact</label>
                    </div>
                    <div class="ml-auto">
                      <button type=button class=button onclick={ this.removeRole } value={ index } person-pk={ role.person.pk }>
                        <icon figure=delete embedded /> Delete
                      </button>
                    </div>
                    <input hidden type=checkbox value=1 id=is_archived_{ index } class="archived-checkbox" name=is_archived index={ index } checked={ role.is_archived || '' }>
                    <input hidden type=checkbox value=1 id=is_default_{ index } name=is_default index={ index } checked={ role.is_default || '' }>
                  </div>
                </div>
              </article>
              <button type=button class=button type=button onclick={ this.addRole }>
                <icon figure=add embedded /> Link to a contact
              </button>
            </div>
          </details>

        </div>
      </div>
    </fieldset>

    <fieldset>
      <div>
        <div>
          <details>
            <summary>
              <legend>Patient Organisation Details</legend>
              Expand
            </summary>
            <div>
              <label for="adherents">Number of Members</label>
              <input id=adherents type=number name=adherents value={ this.organisation.adherents }>
              <label for="budget">Budget</label>
              <input id=budget type=number name=budget value={ this.organisation.budget }>
              <label for="creation_year">Year of Creation</label>
              <input id=creation_year type=number name=creation_year value={ this.organisation.creation_year } min=1900
              max={ (new Date().getFullYear()) }>

              <label for="board">number of patient representatives / number of board directors</label>
              <input id=board type=text name=board value={ this.organisation.board }>
              <label for="paid_staff">Number of paid staff</label>
              <input id=paid_staff type=number name=paid_staff value={ this.organisation.paid_staff }>
              <label for="pharma_funding">Percentage of pharma funding</label>
              <input id=pharma_funding type=number name=pharma_funding value={ this.organisation.pharma_funding } min="0" max="100">

            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <contact-attachment-edit contact={ this.organisation } />

    <fieldset>
      <div>
        <div>
          <details open>
            <summary>
              <legend>Comment <small if={ this.organisation.comment }>(1)</small></legend>
              Expand
            </summary>
            <div>
              <label for=comment>Comment</label>
              <textarea name=comment placeholder="Extra information about this organisation">{ this.organisation.comment }</textarea>
            </div>
          </details>
        </div>
      </div>
    </fieldset>

    <section class=toolbar>
      <div class=secondary>
        <button type=button if={ this.user.can('delete') } class=plain onclick={ this.delete }><icon figure=delete-small embedded />Delete</button>
        <button class=button type=button onclick={ () => history.back() }><icon figure=close-small embedded />Cancel</button>
        <button class=button><icon figure=save-small embedded />Save</button>
      </div>
    </section>
  </form>

  <script>
    this.user = window.user
    this.keywords = classifyByKind(config.KEYWORDS.filter(k => k.for_organisation))
    this.kinds = config.ORGANISATION_KIND.map(k => {
      k.is_main = String(k.key).endsWith('0')
      return k
    })
    this.groups = classifyByKind(config.GROUPS)
    this.groupRoles = config.ORGANISATION_TO_GROUP_ROLES
    this.membershipStatuses = config.MEMBERSHIP_STATUSES
    this.organisation = {}
    this.dbOrg = "{}"  // @FIXME Untouched copy. Event Object.assign({}, this.organisation) makes a reference!
    this.duplicatesNameUri = ''
    this.duplicatesEmailUri = ''
    this.duplicatesUrlUri = ''
    this.membershipsCount = 0
    this.rolesCount = 0
    this.diseasesCount = 0
    this.archivedPersonsPk = []

    this.on('*', () => {
      this.organisation = this.opts.organisation
      this.diseasesCount = document.getElementsByClassName("disease-list").length
      this.groupsCount = document.getElementsByClassName("groups").length
      this.membershipsCount = document.getElementsByClassName("memberships").length
      this.dbOrg = JSON.stringify(this.organisation)
      this.organisationKeywordsPks = this.organisation.keywords.map(k => k.pk)
      var archivedCheckboxes = document.getElementsByClassName("archived-checkbox")
      this.rolesCount = Array.prototype.reduce.call(
        archivedCheckboxes,
        (rolesCount, archivedCheckbox) => archivedCheckbox.checked ? rolesCount : rolesCount + 1,
        0
      )
    })

    this.on('mount', () => {
      const country = getCountry(this.organisation.country)
      this.dialPrefix = country && `+${country.prefix}`
      this.update()
    })

    this.changeCountry = (event) => {
      const country = getCountry(event.currentTarget.value)
      this.dialPrefix = country && `+${country.prefix}`
      this.update()
    }

    this.checkDuplicatesName = (event) => {
      if(this.organisation.pk) return
      this.duplicatesNameUri = `/complete?q=${event.target.value.trim()}&limit=3`
    }

    this.checkDuplicatesEmail = (event) => {
      if(this.organisation.pk) return
      this.duplicatesEmailUri = `/complete?q=${event.target.value.trim()}&limit=3`
    }

    this.checkDuplicatesUrl = (event) => {
      if(this.organisation.pk) return
      this.duplicatesUrlUri = `/complete?q=${event.target.value.trim()}&limit=3`
    }

    this.addDisease = (event) => {
      // Hack riot that will skip the attribute "value" as long as the initial value is empty
      // => Keep the space for pk :/
      this.organisation.diseases.push({pk: ' ', label: ''})
      this.update()
    }

    this.removeDisease = (event) => {
      const disease = document.getElementById(`disease_${event.currentTarget.value}`)
      if (disease) {
        disease.remove()
      }
      this.update()
    }

    this.addGroup = (event) => {
      const personPk = event.currentTarget.getAttribute('person')
      const role = this.organisation.roles.find(r => r.person.pk == personPk)
      if(!role.groups) role.groups = []
      role.groups.push({})
    }

    this.removeGroup = (event) => {
      const button = event.currentTarget
      const role = this.organisation.roles.find(r => r.person.pk == button.getAttribute('person'))
      role.groups.splice(button.value, 1)
    }

    this.addMembership = () => {
      this.organisation.membership.push({organisation: {pk: ' ', label: ''}})
      this.update()
    }

    this.removeMembership = (event) => {
      const membership= document.getElementById(`membership_${event.currentTarget.value}`)
      if (membership) {
        membership.remove()
      }
      this.update()
    }

    this.save = async (event) => {
      event.preventDefault()
      const readonlyFields = ["pk", "attachment", "uri", "label", "resource", "groups", "created_at", "modified_at", "created_by", "modified_by", "filemaker_pk"]

      // format comparableOrg and formData to be comparable (str vs number, objects with foreign data…)
      const dbOrgObj = JSON.parse(this.dbOrg)
      const comparableOrg = {
        ...dbOrgObj,
        events: dbOrgObj.events || [],
        cell_phone: String(dbOrgObj.cell_phone || ''),
        phone: String(dbOrgObj.phone || ''),
        diseases: (dbOrgObj.diseases || []).map(o => Number(o.pk)),
        keywords: sort((dbOrgObj.keywords || []).map(o => Number(o.pk))),
        membership: (dbOrgObj.membership || []).map(o => new Membership(Object.assign(o, { organisation: o.organisation.pk }))),
        roles: (dbOrgObj.roles || []).map(o => new Role(Object.assign(
          o,
          {
            person: o.person.pk,
            organisation: o.organisation && o.organisation.pk,
          }
        )))
      }

      const formData = serializeForm(event.target, true)
      const newOrg = {
        ...formData,
        cell_phone: String(formData.cell_phone || ''),
        phone: String(formData.phone || ''),
        board: String(formData.board || ''),
        keywords: sort(formData.keywords || []).filter(k=>k),
        diseases: (formData.diseases || []),
        membership: (formData.membership || []).map(o => new Membership(o)),
        roles: (formData.roles || []).map(role => new Role(Object.assign(
          comparableOrg.roles.find(r => r.person == role.person) || {},
          {
            person: role.person,
            organisation: this.organisation,
            groups: (formData.groups || []).filter(g => g.person == role.person),
          },
          role,
        )))
      }

      // Get an object containing only key/value pairs that has changed
      const data = diffing(comparableOrg, newOrg, readonlyFields)
      const dataDiff = !!Object.keys(data).length

      const response = dataDiff ? (this.organisation.pk
        ? apiResponse(await api(`/organisation/${this.organisation.pk}`, { method: 'patch', data }))
        : apiResponse(await api(`/organisation`, { method: 'post', data }))) : null
      if (!dataDiff | response?.ok) {
        if(response?.ok) {
          const organisation = response.data
          // upload document
          await document.querySelector('contact-attachment-edit')._tag.save(organisation)
          page(`/organisation/${organisation.pk}${location.search || ''}`)
        }
        notify(`Contact was saved successfully`, 'success')
      }
    }

    this.addRole = () => {
      this.organisation.roles.push({ person: { pk: ' ' }, groups: [] })
    }

    this.removeRole = (event) => {
      if (!window.confirm('Are you sure you want to remove this role ?'))
        return
      const personPk = event.currentTarget.getAttribute('person-pk')
      if (personPk == ' ') {
        this.organisation.roles.splice(event.target.value, 1)
      } else {
        // archive role
        document.getElementById(`is_archived_${event.currentTarget.value}`).checked = true
        document.getElementById(`is_default_${event.currentTarget.value}`).checked = false
        document.getElementById(`role_email_${event.currentTarget.value}`).value = null
        this.archivedPersonsPk.push(personPk)
        // disable related groups
        groups_active = document.getElementsByClassName(`group_person_${personPk}_active`)
        for (const group_active of groups_active) {
          group_active.checked = false
        }
      }
      this.update()
    }

    this.delete = async (event) => {
      if(!confirm('You are about to permanently delete this organisation. Are your sure?')) return
      const response = apiResponse(await api(`/organisation/${this.organisation.pk}`, { method: 'delete' }))
      if (response.ok) {
        notify(`The organisation "${this.organisation.name}" was deleted.`, 'success')
        page(`/${location.search}`)
      }
      else {
        notify(`Could not delete organisation: ${response.data.error}`, 'error')
      }

    }
  </script>

  <link rel="stylesheet" href="/src/css/details.css">
  <style>
    select-autocomplete + select-autocomplete {
      margin-top: 0.8rem !important;
    }

    [type="checkbox"] + label {
      margin-bottom: 0.8rem;
    }

    select {
      width: 100%;
    }

    .keywords span {
      display: inline-block;
    }

    option.main {
      font-weight: bold;
    }
  </style>
</organisation-edit>
