<results>
  <header>
    <div class={ row: true, disabled: !this.opts.filters.length }>
      <div>
        <h3 if={ this.count }>
          { this.count } result<span if={ this.count> 1 }>s</span>
          <span if={ this.total> this.count }> out of { this.total }</span>
        </h3>
        <h3 if={ !this.count }>0 result</h3>

        <a href={ location.pathname } class=button title="Clear all filters">
          <icon figure=delete embedded />
          Delete all filters</a>
      </div>
      <div class="secondary">
        <div class=type-filter>
          <button onclick={ this.filter } value="" class={ button: true, icon: true, active: this.isSelected('resource',
            null) } title="Filter contacts and organisations">
            <icon figure=peopleandorganisation embedded />
            { this.isSelected('resource',
            null) && this.opts.total }
          </button>
          <button onclick={ this.filter } value=person class={ button: true, icon: true, active:
            this.isSelected('resource', 'person' ) } title="Filter only contacts">
            <icon figure=person embedded />
            { this.opts.personsTotal }
          </button>
          <button onclick={ this.filter } value=organisation class={ button: true, icon: true, active:
            this.isSelected('resource', 'organisation' ) } title="Filter only organisations">
            <icon figure=organisation embedded />
            { this.opts.organisationsTotal }
          </button>
        </div>
      </div>
    </div>
    <div class={ 'add-line' : true }>
      Add:
      <button class={ plain: true, disabled: !this.opts.personsTotal } title="Export all listed contacts" onclick={
        this.addListedPersons }>
        <icon figure=person />
        Contacts
      </button>
      <button class={ plain: true, disabled: !this.opts.organisationsTotal } title="Export all listed organisations"
        onclick={ this.addListedOrganisations }>
        <icon figure=organisation />
        Organisations
      </button>
      <button class={ plain: true, disabled: !this.opts.organisationsTotal }
        title="Export primary contacts from listed organisations" onclick={ this.addAllPrimaries }>
        <icon figure=primary />
        Primary contacts
      </button>
    </div>
  </header>

  <nav>
    <div each={ result in this.opts.results }>
      <a value={ result.pk } type={ result.resource } class={ active: (this.opts.selectedPk &&
        this.opts.selectedPk==result.pk) } onclick={ this.selectItem } href={ getUrl('/'+result.resource+'/'+result.pk)
        } title={ result.label }>
        <icon figure={ result.resource } />
        <country-flag country={ result.country } />
        <span>{ result.label }</span>
      </a>

      <add-export if={ result.role } person-pk={ result.resource=='person' ? result.pk : result.role.person.pk }
        organisation-pk={ result.resource=='organisation' ? result.pk : result.role.organisation.pk } />
      <add-export if={ !result.role } person-pk={ result.resource=='person' && result.pk } organisation-pk={
        result.resource=='organisation' && result.pk } />
    </div>
    <a class=show-all href={ replaceQueryParams({ limit: 'false' }) } if={ this.total> this.count }>Show All
      (slow)</a>
  </nav>

  <script>
    /* global api, URL */
    this.query = ''
    this.results = []
    this.total = 0
    this.count = 0

    this.on('*', () => {
      this.query = this.opts.query
      this.results = this.opts.results
      this.total = this.opts.total
      this.count = this.results && this.results.length
    })

    this.getAllResults = async () => {
      showLoader()
      if (this.total <= this.count) return this.results

      const filters = this.opts.filters
      filters.push({
        name: 'limit',
        value: 0
      })
      const response = await searchResults(filters)
      return response.data
    }

    this.addAllPrimaries = async () => {
      const results = await this.getAllResults()

      let resources = []
      results.forEach(result => {
        if (result.resource !== 'organisation') return
        if (result.roles && result.roles.length) resources = resources.concat(result.roles.filter(r => r
          .is_primary))
      })
      exportList.addMany(resources)

      updatePage()
    }

    this.addListedPersons = async () => {
      const results = await this.getAllResults()
      let resources = results.filter(r => r.resource === 'person').map(r => {
        const result = {
          person: r.pk
        }
        if (r.role && r.role.organisation) result.organisation = r.role.organisation.pk
        return result
      })
      exportList.addMany(resources)
      updatePage()
    }

    this.addListedOrganisations = async () => {
      const results = await this.getAllResults()
      const resources = results.filter(r => r.resource === 'organisation').map(r => ({
        organisation: r.pk
      }))
      exportList.addMany(resources)

      updatePage()
    }

    this.filter = (event) => {
      const resourceType = event.currentTarget.getAttribute('value') // person, organisation or ''
      page(replaceQueryParams({
        resource: resourceType
      }))
    }

    isSelected(group, value) {
      const groupFilter = this.opts.filters.find(f => f.name == group)
      if(!groupFilter) return !value
      return groupFilter.value == value
    }

  </script>

  <style>
    .row {
      width: 100%;
      margin: 0 0 .3rem;
      justify-content: space-between;
      align-items: flex-start;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: sticky;
      top: 0;
      right: 0;
      min-height: 3rem;
      margin: 0 0 1.8rem;
      padding: 2rem 1.6rem;
      background-color: var(--secondary-background-color);
      z-index: 3;
    }

    header:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: calc(100% - 3.2rem);
      height: 1px;
      margin: auto;
      background-color: var(--border-color);
    }

    header .type-filter .icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    button.icon icon img,
    button.icon icon svg {
      display: block;
      width: 1rem !important;
      height: auto;
      margin-top: -.1rem;
      margin-left: .2rem;
    }

    header .secondary {
      display: flex;
      align-items: center;
    }

    header .secondary .button:not(:first-child) {
      margin-left: 0.4rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h3+.button {
      padding: 0;
      border: none;
      border-radius: 0;
    }

    h3+.button:hover {
      color: inherit;
      background: none;
    }

    h3+.button:hover svg g,
    h3+.button:hover svg path {
      stroke: var(--primary-color);
    }

    .add-line {
      max-width: 100%;
      display: flex;
      align-items: center;
      margin-top: 0.8rem;
      font-size: 0.7rem;
      color: var(--primary-color);
      flex-wrap: inherit;
    }

    .add-line+.add-line {
      margin-top: 0;
    }

    .add-line+.add-line :first-child {
      padding-left: 0;
    }

    .add-line button {
      padding: 0 0.4rem;
      border-radius: 0;
    }

    .add-line button:not(:first-of-type) {
      border-left: 1px solid var(--border-color);
    }

    :scope img {
      width: 1.2rem;
    }

    nav {
      border-right: 1px solid var(--border-color);
    }

    nav div {
      position: relative;
    }

    nav [figure=person],
    nav [figure=organisation] {
      height: 1.2rem;
      margin-right: .3rem;
    }

    nav icon img {
      vertical-align: bottom;
    }

    nav span {
      display: inline-block;
      max-width: 75%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    nav a {
      display: flex;
      align-items: center;
      padding: .3rem 1.6rem .3rem;
      text-decoration: none;
      color: var(--text-color);
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    nav a:hover,
    nav a.active {
      text-decoration: none;
      background-color: var(--primary-color-light);
      border-color: rgba(0, 98, 183, 0.07)
    }

    nav country-flag {
      margin-right: 0.4rem;
    }

    nav add-export {
      position: absolute;
      top: .3rem;
      right: 1.6rem;
    }

    .type-filter {
      display: flex;
      align-items: center;
      color: var(--primary-color);
      font-weight: 500;
    }

    .disabled {
      position: relative;
      opacity: 0.3;
    }

    .disabled::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
    }

    .show-all {
      display: block;
      text-align: center;
    }

  </style>
</results>
