<select-country>
  <option value="" selected={ !this.opts.country } onchange={ this.opts.onchange }>{ this.label || "Select a country" }</option>
  <option each={ country in this.countries }
          value={ country[0] }
          selected={ this.opts.country == country[0] }>
    { country[1] }
  </option>

  <script>
    countries = config.COUNTRIES
    this.countries = Object.keys(countries).map(code => [code, countries[code]]).sort((a, b) => a[1] > b[1] ? 1 : -1)
  </script>
</select-country>
