<select-autocomplete>
  <form class={ error: this.hasError } onmouseenter={ () => this.showSuggestions = true } onmouseleave={ () => this.showSuggestions = false } onmouseleave={ this.validate }>
    <input type=search value={ this.q } oninput={ this.autocomplete } placeholder={ this.opts.placeholder } onfocusout={ this.validate }>

    <ul class={ displayed: this.showSuggestions }>
      <li each={ item in this.items } data-value={ item.pk } onclick={ this.select }>{ item.label }</li>
    </ul>
  </form>

  <script>
    this.value = null
    this.q = this.opts.label || ''
    this.items = []
    this.showSuggestions = false
    this.hasError = false

    this.autocomplete = async (event) => {
      this.q = event.target.value
      if(this.q.length < 3) return
      const searchQuery = this.opts.url + (this.q ? this.q : '')
      const response = await api(`${searchQuery}`)
      this.items = response.data.data
      this.showSuggestions = true
      this.update()
    }

    this.validate = (event) => {
      const text = event.currentTarget.value
      this.hasError = false
      if (!text) return this.setValue('')
      else if (this.items.length) {
        this.q = this.items[0].name
        return this.setValue(this.items[0].pk)
      }
      else if (text && text !== this.opts.label) {
        this.hasError = true
        this.q = this.opts.label
        return
      }
    }

    this.root.checkValidity = () => this.hasError

    this.clear = () => {
      this.q = ''
      this.root.value = this.root.setAttribute('value', '')
      this.items = []
      this.update()
    }

    this.select = (event) => {
      this.q = this.opts.label = event.target.textContent
      this.setValue(event.target.dataset.value)
      this.showSuggestions = false
      this.update()
    }

    this.setValue = (value) => {
      this.root.value = value
      this.root.setAttribute('value', value)
    }
  </script>

  <style>
    :scope {
      display: block;
      position: relative;
    }
    :scope > div {
      width: 100% !important;
    }
    form {
      margin: 0;
    }
    input[type=search] {
      padding-right: 1.5rem;
    }
    .clear {
      position: absolute;
      top: 0;
      right: .2rem;
      bottom: 0;
      margin: auto;
      height: 1rem;
      width: 1.2rem;
      font-size: 1.3rem;
    }
    ul {
      display: block;
    }
    ul:not(.displayed) {
      display: none;
    }
    ul {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100%;
      width: max-content;
      width: -moz-max-content;
      width: -webkit-max-content;
      width: -ie-max-content;
      padding: 0;
      margin: 0;
      background-color: #fff;
      list-style: none;
      border: 1px solid #eee;
      z-index: 2;
    }
    li {
      min-width: 100%;
      padding: .3rem .5rem;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }
    li:hover {
      background-color: #eee;
    }
    .error input {
      border-color: red;
      box-shadow: 0 0 3px red;
    }
  </style>
</select-autocomplete>
