<!-- use this with <select data-is=select-language></select> -->
<select-language>
  <option value=""> - Language - </option>
  <option if={ this.opts.label } value="" selected={ !this.opts.language }>{ this.opts.label || "Select a language" }</option>
  <option each={ tuple in this.languageCodes }
          value={ tuple[0] }
          selected={ this.opts.language == tuple[0] }>
    { tuple[1] }
  </option>

  <script>
    this.languageCodes = [
      ['en', "English"],
      ['fr', "French"],
      ['de', "German"],
      ['it', "Italian"],
      ['pt', "Portuguese"],
      ['ru', "Russian"],
      ['es', "Spanish"],
    ]
  </script>

</select-language>
