<tag>
  <icon figure={ this.opts.type } />
  <div>
    <a href={ location.pathname }?{ this.opts.type }={ this.opts.riotValue }|{ this.opts.label }
      title="Filter with { this.opts.label } as { this.opts.type }" class={ this.opts.type }>

      { this.opts.label }
    </a>
    <span if={ this.opts.externalUrl }>
      <br>
      Orphanet: <a href={ this.opts.externalUrl } title={ this.opts.externalTitle }
      target=_blank class={ this.opts.type }>{ this.opts.riotValue }</a>
    </span>
    <span if={ this.opts.detailsLink }>
      <a href={ getUrl(this.opts.detailsLink) } class=disease>Database card</a>
    </span>
  </div>

  <style>
    :scope {
      display: inline-flex;
      align-items: center;
    }
    :scope icon {
      margin-right: 0.4rem;
    }
    :scope > div > .disease {
      font-weight: 500;
    }
    :scope span a {
      border-bottom: 1px solid var(--disease) !important;
    }
    :scope span a:hover {
      border-bottom: none !important;
    }
    :scope span + span {
      margin-left: 0.2rem;
      padding-left: 0.4rem;
      border-left: 1px solid var(--border-color);
    }
  </style>
</tag>