<toast>
  <div class="{ this.type }">
    <span>
      { this.message }
    </span>

    <button if={ this.type=='error' } onclick={ this.close } class=plain>
      <icon figure=close-white />
    </button>
  </div>

  <script>
    this.type = this.opts.type || 'default'
    this.duration = 5000
    this.message = this.opts.message

    this.show = this.root.show = (message, type) => {
      this.type = type
      this.message = message
      this.root.classList.add('visible')
      if (this.type !== 'error') this.autoClose()
      this.update()
    }

    this.autoClose = () => {
      this._latestTimeOut && clearTimeout(this._latestTimeOut)
      this._latestTimeOut = setTimeout(() => {
        this.root.classList.remove('visible')
        this.update()
      }, this.duration)
    }

    this.close = () => {
      this.root.classList.remove('visible')
      this.update()
    }
  </script>

  <style>
    :scope {
      position: fixed;
      left: 50%;
      bottom: -10rem;
      min-width: 15rem;
      width: auto;
      min-height: 2.8rem;
      height: auto;
      margin-left: -7.5rem;
      overflow: hidden;
      z-index: 9;
      transition: bottom .3s;
      border-radius: .4rem;
    }

    :scope.visible {
      bottom:0;
    }

    div {
      display: flex;
      padding: .8rem;
      color: #fff;
      background: #4646AA;
      border-radius: .4rem;
    }

    div:before {
      content: '';
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.4rem;
      background-image: url(/src/images/icons/message-info-white.svg);
    }

    span {
      width: calc(100% - 2.8rem);
    }

    .success {
      background: #0F8246;
    }

    .success:before {
      background-image: url(/src/images/icons/message-valid-white.svg);
    }

    .warning {
      background: #D22D00;
    }

    .warning:before {
      background-image: url(/src/images/icons/message-caution-white.svg);
    }

    .error {
      background: #D20019;
    }

    .error:before {
      background-image: url(/src/images/icons/message-alert-white.svg);
    }

    button {
      width: auto;
      height: auto;
      padding-right: 0;
    }
  </style>
</toast>
