<user-details class=details>

  <header class={ row: true, deleted: this.deleted }>
    <div>
      <div class="avatar">
        <icon figure=placeholder-person />
      </div>
    </div>

    <div>
      <h1>{ user.first_name } { user.last_name }<span if={ user.title }> ({ ucFirst(user.title) })</span><add-export person-pk={ user.pk } label={ this.contactEmail } /></h1>
      <p class=keyword if={ this.user.keywords.length }>
        <icon figure=keyword />
        <a each={ keyword in this.user.keywords } href={ getUrl(location.pathname, {keyword: keyword.pk + "|" + keyword.label}) } class=keyword>
          { keyword.label }
        </a>
      </p>

      <div class=row>
        <div>
          <ul>
            <li if={ user.country }><icon figure=address /> { getCountry(user.country).label }</li>
            <li if={ user.email }><icon figure=email /> <a target=_blank href="mailto:{ user.label }{ encodeURIComponent('<' + user.email + '>') }">{ user.email }</a></li>
            <li if={ user.phone }><icon figure=landline /> { user.phone }</li>
            <li if={ user.cell_phone }><icon figure=phone /> { user.cell_phone }</li>
            <li if={ user.languages.length }><icon figure=language />{ this.languages.join(', ') }</li>
          </ul>
        </div>
        <div>
          <div if={ this.user.diseases.length }>
            <h3 if={ this.user.diseases.length == 1 }>Is an expert on this disease:</h3>
            <h3 if={ this.user.diseases.length > 1 }>Is an expert on these diseases:</h3>
            <tag each={ disease in this.user.diseases } type=disease label="{ disease.name }" external-url="https://www.orpha.net/consor/cgi-bin/OC_Exp.php?Expert={ disease.pk }" external-title="View details on Orphanet" value={ disease.pk } details-link=/disease/{ disease.pk } />
          </div>
          <div if={ this.user.groupings && this.user.groupings.length } class=grouping>
            <grouping-tag each={ grouping in this.user.groupings } value={ grouping } />
          </div>
        </div>
      </div>
    </div>
  </header>

  <section if={ this.unarchivedRoles.length }>
    <div>
      <h2>Organisations</h2>
      <role-card each={ role, index in this.unarchivedRoles } role={ role } />
    </div>
  </section>

  <section class=property-group if={ this.groupsCount }>
    <div>
      <h2 class=group>Groups</h2>
      <div each={ role in this.user.roles } if={ role.activeGroups.length || role.inactiveGroups.length } class="item">
        <h3>{ role.organisation.label }</h3>
        <div class=active if={ role.activeGroups.length }>
          Active:
          <p each={ group in role.activeGroups }>
            <a href=/?group={ group.group.pk }|{ group.group.label } title={ group.group.description }>{ group.group.label }</a><span if={ group.role }> { group.role }</span>
          </p>
        </div>
        <div class=inactive if={ role.inactiveGroups.length }>
          Inactive:
          <p each={ group in role.inactiveGroups }>
            <a href=/?group={ group.group.pk }|{ group.group.label } title={ group.group.description }>{ group.group.label }</a><span if={ group.role }> { group.role }</span>
          </p>
        </div>
      <div>
    </div>
  </section>

  <section class=events if={ this.events.length }>
    <div>
      <h2 class=event>Events</h2>
      <expandable-list items={ this.events }>
        <yield>
          <div each={ event in this.opts.items.slice(0, this.slice) } class="item">
            <a href=/?event={ event.pk }|{ event.label } title={ event.label }>
              { event.label }
            </a>
            <span if={ event.role }> { event.role } ({ event.organisation })</span>
          </div>
        </yield>
      </expandable-list>
    </div>
  </section>

  <section if={ this.user.attachments.length }>
    <div>
      <h2>Documents</h2>
      <div each={ attachment in this.user.attachments }>
        <attachment-link contact-id={ this.user.pk } attachment={ attachment } />
      </div>
    </div>
  </section>

  <section if={ this.user.comment }>
    <div>
      <h2>Comments</h2>
      <p><raw html={ this.user.comment.replace(/\n/g, '<br>') } /></p>
    </div>
  </section>

  <section if={ this.opts.diffs }>
    <diffs diffs={ this.opts.diffs } />
  </section>

  <section class=toolbar>
    <small>
      id: { this.user.pk } <span if={ this.user.filemaker_pk }>(previously {this.user.filemaker_pk})</span>
      <p>
        Created on { trans(new Date(this.user.created_at)) }
        <virtual if={ this.user.created_by }> by
          <a href=/person/{ this.user.created_by.pk }>
            { this.user.created_by.first_name } { this.user.created_by.last_name }
          </a>
        </virtual>
      </p>
      <p>
        Modified on { trans(new Date(this.user.modified_at)) }
        <virtual if={ this.user.modified_by }> by
          <a href=/person/{ this.user.modified_by.pk }>
            { this.user.modified_by.first_name } { this.user.modified_by.last_name }
          </a>
        </virtual>
      </p>
      <a href="{ getUrl('/person/' + this.user.pk + '/history') }">Blame who messed with this</a>
    </small>
    <a href=/person/{ this.user.pk }/edit/{ location.search } class="button"><icon figure=edit embedded /> Edit this user</a>
  </section>

  <script>
    this.user = {}
    this.unarchivedRoles = []
    this.deleted = false

    this.on('*', async () => {
      if (this.user.pk === this.opts.user.pk) return
      this.user = this.opts.user
      this.unarchivedRoles = this.user.roles.filter(role => !role.is_archived)
      this.deleted = this.user.keywords.find(k => k.name.toLowerCase() === 'to be deleted')
      this.user.keywords = this.user.keywords.sort((k1, k2) => k1.label.toLowerCase() < k2.label.toLowerCase() ? -1 : 1)
      this.languages = this.user.languages.map(l => trans(l))
      this.groupsCount = this.user.roles.reduce((total, role) => total += role.groups.length, 0)
      this.user.roles = this.user.roles.map(role => ({
        ...role,
        activeGroups: role.groups.filter(g => g.is_active),
        inactiveGroups: role.groups.filter(g => !g.is_active),
      }))
      this.events = this.user.roles.map(role => role.events.map(e => ({
        organisation: role.organisation.label,
        pk: e.event.pk,
        label: e.event.label,
        role: e.role,
        date: e.event.start_date,
      }))).flat().sort((a, b) => a.date < b.date ? 1 : -1)
      const request = await api('/basket', { data: { resources: [{ person: this.user.pk }] } })
      this.contactEmail = request.data.data.length && request.data.data[0].email
      this.update()
    })


  </script>

  <link rel="stylesheet" href="/src/css/details.css">
  <style>
    :scope > h2 {
      margin: .2rem 0;
      color: #ccc;
      font-size: 1rem;
    }

    :scope > header {
      padding: 1rem 0 0;
    }
    :scope header h1 {
      margin: .3rem 0;
      font-family: inherit;
      font-size: 1.5rem;
      font-weight: 300;
    }

    :scope > header > button {
      float: right;
    }
    :scope .keyword {
      display: inline-flex;
      flex-wrap: wrap;
    }
    :scope .keyword > icon {
      margin-right: 0.4rem;
    }

    .disease icon {
      height: .8rem;
    }

    .events a {
      color: var(--primary-color) !important;
    }
    .events p {
      display: flex;
      flex-wrap: wrap;
    }
    .events p > span {
      flex-basis: 50%;
      padding-right: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    :scope.details header>div>.row {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    .keyword > a:not(:last-of-type):after {
      content: ', ';
    }

    .deleted *,
    .deleted ~ * * {
      opacity: .8;
    }

    .deleted h1 {
      text-decoration: line-through;
    }
    role-card:not(:first-of-type) {
      margin-top: 1rem;
    }
    role-card:not(:first-of-type):before {
      content: "";
      display: block;
      width: 1.5rem;
      border: none;
      border-top: solid 1px var(--border-color);
      margin: 0 auto .7rem 0;
    }
  </style>
</user-details>
